#divPartidos,#inputs,#saldos{
    display: none;
}
.visible{
    display: inherit !important;
}
<<<<<<< HEAD
h2{
    color: blue;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 1px #CCC;
        
}
#banner { background-image: url(../images/Bookiesport_Cabezote.png);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;}
.estiloinput{
    border: 1px solid #039;
    border-radius: 5px;
    width: 200px;
    height: 20px;
}
.button{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    width: 200px;
    height: 32px;
    border-radius: 6px;
}
#apuestas{
   
}
 
=======
#confirm{
   display:none;
    float: left;
    z-index: 9999;
    background: #ff3456;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}
#formularioApuesta{
    position: fixed;
}
.novisible{
    display: none;
}
>>>>>>> 7f8c2d3d7b0fb5f44036778832eea20ac2d14e46
